name: Continuous Integration

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  release:
    needs: [test]
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Semantic Release
        id: semantic_release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Go
        if: steps.semantic_release.outputs.new_release_published == 'true'
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run GoReleaser
        if: steps.semantic_release.outputs.new_release_published == 'true'
        uses: goreleaser/goreleaser-action@v5
        with:
            distribution: goreleaser
            version: '~> v2'
            args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
