name: Semantic Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  release:
    needs: [test]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
    
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
            distribution: goreleaser
            version: '~> v2'
            args: release --clean
